<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/cmssantos/index.json" />
  </packageSources>

  <packageSourceMapping>

    <!-- Pacotes públicos -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <!-- Pacotes privados (se houver no futuro) -->
    <packageSource key="github">
      <package pattern="Cms.*" />
    </packageSource>

  </packageSourceMapping>

</configuration>
