name: CI

on:
  pull_request:
    branches: [main, develop]
  push:
    branches: [main, develop]

env:
  COVERLET_MIN_THRESHOLD: 80

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            10.0.x

      - run: dotnet restore
      - run: dotnet build --configuration Release --no-restore

      - name: Test with Coverage
        run: |
          dotnet test tests/Cms.BuildingBlocks.Domain.Tests \
            --configuration Release \
            --no-build \
            /p:CollectCoverage=true \
            /p:CoverletOutput=./TestResults/ \
            /p:CoverletOutputFormat=cobertura

      - name: Enforce Coverage Threshold
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
            filename: '**/TestResults/cobertura.xml'
            thresholds: "${{ env.COVERLET_MIN_THRESHOLD }}"
            fail_below_min: true
