name: Release

on:
  push:
    branches: [develop, main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Restore
        run: dotnet restore

      - name: Install GitVersion
        uses: GitTools/actions/gitversion/setup@v0
        with:
          versionSpec: '6.0.5'

      - name: Determine Version
        id: gitversion
        uses: GitTools/actions/gitversion/execute@v0
        with:
          useConfigFile: true
          configFilePath: GitVersion.yml

      - name: Build
        shell: bash
        run: |
            dotnet build \
            --configuration Release \
            /p:AssemblyVersion=${{ env.GitVersion_AssemblySemVer }} \
            /p:FileVersion=${{ env.GitVersion_AssemblySemFileVer }} \
            /p:InformationalVersion=${{ env.GitVersion_SemVer }}

      - name: Pack
        run: |
            dotnet pack \
            --configuration Release \
            --no-build \
            /p:PackageVersion=${{ steps.gitversion.outputs.semVer }}
